.save_button
{
	font-size:20px;
	height:30;
	width:67;
	padding:2;
	background-color:#1DA1F2;
	color:#FFFFFF;
	border-top:#1DA1F2;
    border-right-color:#1DA1F2;
	border-bottom-color:#1DA1F2;
	border-left-color:#1DA1F2;
	font-weight:bold;
	border-radius:20px;
	box-shadow:0px 0px 5px 1px rgb(0,0,0);
}

#yes_button
{
	font-size:14px;
	height:30;
	width:67;
	padding:2;
	background-color:#1DA1F2;
	color:#FFFFFF;
	border-top:#29447E;
    border-right-color:#29447E;
	border-bottom-color:#1A356E;
	border-left-color:#29447E;
	font-weight:bold;
	box-shadow:0px 0px 5px 1px rgb(0,0,0);
}

#no_button
{
	font-size:14px;
	height:30;
	width:75;
	padding:2;
	background-color:#1DA1F2;
	color:#000;
	border-left-color:#29447E;
	font-weight:bold;
	box-shadow:0px 0px 5px 1px rgb(0,0,0);
}
