#upload_button
{
	font-size:16px;
	height:35;
	width:80;
	padding:2;
	background-color:#1da1f2; color:#FFFFFF;
	border-top:#1da1f2;
	border-right-color:#1da1f2;
	border-bottom-color:#1da1f2;
	border-left-color:#1da1f2;
	font-weight:bold;
	box-shadow:5px 0px 7px 0px rgb(0,0,0);
}
